/*================================================
Template name: Rdsto App Landing HTML Template
Version: 1.0.0
Author: Design Expert        
Author url: https://themeforest.net/user/designexpart260
Developer: Najmul Huda Eimon 

[ Table of Contents ]

01: General css Style
  1.1: variables
  1.2: common css
  1.3: headings
  1.4: padding margin
  1.5: section title
02: custom cursor css Style
03: preloader
04: top-to button
05: Sticky menu CSS
06: home 1 css Style
  6.1: menubar css Style
  6.2: banner css Style
  6.3: modal
  6.4: feature
  6.5: counter
  6.6: about
  6.7: portfolio
  6.8: team
  6.9: mobile
  6.10: video
  6.11: client
  6.12: brand
  6.13: blog
  6.14: footer
    6.14.1: footer-top
    6.14.2: footer-bottom
07: home 2 css
  7.1: banner
  7.2: feature
  7.3: newsletter
  7.4: screenshot
  7.5: video
  7.6: mobile
  7.7: pricing
08: inner-page css
  8.1: menubar
  8.2: banner
09: service page
10: team page
11: blog page
12: blog details page CSS
13: service-detail page
14: project detail page
15: team detail page
16: contact page

==================================================*/

/*================================================
01: General css Style
==================================================*/

/* 1.1: variables */
:root{
    --light-orange: #ffab6b;
    --deep-orange: #fb6d62;
    --gradient: linear-gradient(to bottom,#fb6d62,#ffab6b);
    --gradienta: linear-gradient(to bottom,#ffab6b,#fb6d62);
    --dark: #061738;
    --grey: #606060;
    --white: #fff;
    --josefin: 'Josefin Sans', sans-serif;
    --heebo: 'Heebo', sans-serif;
}

/* 1.2: common css */
body {
    overflow-x: hidden !important;
    width: 100%;
    max-width: 100%;
  }
* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.clr {
    clear: both;
}

button:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
a {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}



button {
  outline: none;
  border: 0;
  cursor: pointer;
  background: transparent;
}

button:focus {
  outline: none;
}

.clearfix {
  clear: both;
  display: block;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
}

::-moz-selection {
  background: var(--deep-orange);
  color: var(--white);
  text-shadow: none;
}

::selection {
  background: var(--deep-orange);
  color: var(--white);
  text-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/* 1.3: headings */

h1 {
  font-size: 75px;
  line-height: 90px;
  color: var(--dark);
}

h2 {
  font-size: 50px;
  line-height: 64px;
  color: var(--dark);
}

h3 {
  font-size: 40px;
  line-height: 50px;
  color: var(--dark);
}

h4 {
  font-size: 30px;
  line-height: 40px;
  color: var(--dark);
}

h5 {
  font-size: 24px;
  line-height: 32px;
  color: var(--dark);
}

h6 {
  font-size: 22px;
  line-height: 28px;
  color: var(--dark);
}
p {
    font-size: 16px;
    line-height: 26px;
    color: var(--grey);
    font-family: var(--heebo);
    font-weight: 400;
}

/* 1.4: padding margin */

.p-10 {
  padding: 10px 0;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.p-20 {
  padding: 20px 0;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.p-30 {
  padding: 30px 0;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.p-40 {
  padding: 40px 0;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.p-50 {
  padding: 50px 0;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.p-60 {
  padding: 60px 0;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.p-70 {
  padding: 70px 0;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.p-80 {
  padding: 80px 0;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.p-90 {
  padding: 90px 0;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.p-100 {
  padding: 100px 0;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}
.p-110 {
  padding: 110px 0;
}

.pt-110 {
  padding-top: 110px;
}

.pb-110 {
  padding-bottom: 110px;
}
.p-120 {
  padding: 120px 0;
}

.pt-120 {
  padding-top: 120px;
}

.pb-120 {
  padding-bottom: 120px;
}

.m-10 {
  margin: 10px 0;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.m-20 {
  margin: 20px 0;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-30 {
  margin: 30px 0;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.m-40 {
  margin: 40px 0;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.m-50 {
  margin: 50px 0;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.m-60 {
  margin: 60px 0;
}

.mt-60 {
  margin-top: 60px;
}

.mb-60 {
  margin-bottom: 60px;
}

.m-70 {
  margin: 70px 0;
}

.mt-70 {
  margin-top: 70px;
}

.mb-70 {
  margin-bottom: 70px;
}

.m-80 {
  margin: 80px 0;
}

.mt-80 {
  margin-top: 80px;
}

.mb-80 {
  margin-bottom: 80px;
}

.m-90 {
  margin: 90px 0;
}

.mt-90 {
  margin-top: 90px;
}

.mb-90 {
  margin-bottom: 90px;
}

.m-100 {
  margin: 100px 0;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}
.m-110 {
  margin: 110px 0;
}

.mt-110 {
  margin-top: 110px;
}

.mb-110 {
  margin-bottom: 110px;
}
.m-120 {
  margin: 120px 0;
}

.mt-120 {
  margin-top: 120px;
}

.mb-120 {
  margin-bottom: 120px;
}
/* 1.5: section title */
.section-title{
  text-align: center;
  padding-bottom: 55px;
  margin-top: -8px;
}
.section-title h2{
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--josefin);
  padding-bottom: 15px;
}
/*================================================
02: custom cursor css Style
==================================================*/
.custom-cursor {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 10000;
  transition: opacity 0.2s ease-in-out 0.5s;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
  -moz-transition: opacity 0.2s ease-in-out 0.5s;
  -ms-transition: opacity 0.2s ease-in-out 0.5s;
  -o-transition: opacity 0.2s ease-in-out 0.5s;
}

#cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid var(--deep-orange);
  pointer-events: none;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#cursor::after {
  position: absolute;
  content: "";
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--deep-orange);
  z-index: 100;
  pointer-events: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#cursor-ball {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid var(--deep-orange);
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  border-radius: 50px;
  box-sizing: border-box;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transform: translate(-9px, -9px) rotate(0deg);
  -webkit-animation: rotating 0.8s ease-in-out infinite;
  animation: rotating 0.8s ease-in-out infinite;
  -webkit-transition: opacity 0s ease-in-out 0s;
  transition: opacity 0s ease-in-out 0s;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: translate(-7px, -7px) rotate(0deg);
    transform: translate(-7px, -7px) rotate(0deg);
  }
  95% {
    -webkit-transform: translate(-7px, -7px) rotate(350deg);
    transform: translate(-7px, -7px) rotate(350deg);
  }
  100% {
    -webkit-transform: translate(-7px, -7px) rotate(360deg);
    transform: translate(-7px, -7px) rotate(360deg);
  }
}
@keyframes rotating {
  0% {
    -webkit-transform: translate(-7px, -7px) rotate(0deg);
    transform: translate(-7px, -7px) rotate(0deg);
  }
  95% {
    -webkit-transform: translate(-7px, -7px) rotate(350deg);
    transform: translate(-7px, -7px) rotate(350deg);
  }
  100% {
    -webkit-transform: translate(-7px, -7px) rotate(360deg);
    transform: translate(-7px, -7px) rotate(360deg);
  }
}
/*================================================
03: preloader
==================================================*/

.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background: var(--white);
}
.preloader .circle1,
.preloader .circle2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light-orange);
  animation: anim12 1.2s ease-in infinite;
}

.preloader .circle2 {
  width: 100px;
  height: 100px;
  animation: anim12-2 1.2s ease-out infinite;
  border: 2px solid var(--deep-orange);
}

@keyframes anim12 {
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@keyframes anim12-2 {
  0% {
    opacity: 0;
  }
  100% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
}
/*=========================================================
    04: top-to button
===========================================================*/

.top-btn {
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  background: var(--gradient);
  position: fixed;
  right: 40px;
  bottom: 40px;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  outline: none;
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
  cursor: pointer;
  -webkit-animation: witr_bounce 1000ms ease-out infinite;
  animation: witr_bounce 1000ms ease-out infinite;
}

.top-btn:hover{
  background: var(--deep-orange);
}

@keyframes witr_bounce {

  0%,
  100%,
  20%,
  50%,
  80% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }

  40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
  }

  60% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
  }
}


.top-btn i {
  font-size: 14px;
  color: #fff;
}


.top-btn.show {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
/*===========================================================
    05: Sticky menu CSS
=============================================================*/
.menubar.sticky {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  /*background: var(--deep-orange);*/
  background: #000;
  z-index: 999;
  animation: mymove 0.4s linear;
  -webkit-box-shadow: 2px 0 70px hsla(0, 0%, 13%, 0.15);
  box-shadow: 2px 0 70px hsla(0, 0%, 13%, 0.15);
}

@keyframes mymove {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/*================================================
06: home 1 css Style
==================================================*/
/*================================================
6.1: menubar css Style
==================================================*/
.menubar{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.menubar .header-menu{
  margin-left: auto;
}
.menubar .right-part ul li{
  padding-left: 50px;
}
.menubar .right-part button i{
  font-size: 16px;
  color: var(--white);
}
.menubar .right-part a{
  font-family: var(--heebo);
  font-weight: 500;
  display: inline-block;
  padding: 0 30px;
  line-height: 50px;
  color: var(--dark);
  background: var(--white);
  text-transform: capitalize;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border: 1px solid var(--white);
}
.menubar .right-part a:hover{
  background: transparent;
}
/*================================================
6.2: banner css Style
==================================================*/
.home1.banner{
  /*padding-top: 250px;*/
  padding-top: 160px;
  /*padding-bottom: 300px;*/
  padding-bottom: 132px;
}
.home1.banner .content{
  margin-left: -35px;
  margin-right: -35px;
  position: relative;
}
.home1.banner .text-area h1{
  font-weight: 700;
  color: var(--white);
  font-family: var(--josefin);
}
.home1.banner .text-area p{
  color: var(--white);
  width: 80%;
  padding-top: 25px;
  padding-bottom: 45px;
}
.home1.banner .text-area ul li:not(:last-child){
  padding-right: 30px;
}
.home1.banner .image-area{
  position: absolute;
  right: 0;
  bottom: -160px;
}

/*================================================
6.3: modal
==================================================*/
.modal .modal-title{
  font-size: 24px;
  font-weight: 700;
  color: var(--dark);
  text-transform: capitalize;
  font-family: var(--josefin);
}
.modal .modal-body .inputs{
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 0 20px;
  outline: none;
}
.modal .modal-body .inputs:hover,
.modal .modal-body .inputs:focus{
  border-color: var(--deep-orange);
}
.modal .modal-body .inputs::placeholder{
  font-size: 16px;
  color: var(--grey);
  text-transform: capitalize;
}
.modal .modal-body .search-area{
  position: relative;
}
.modal .modal-body .search-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 10px;
  z-index: 9;
}
.modal .modal-body .search-btn i{
  font-size: 16px;
  color: var(--deep-orange);
}
/*================================================
6.4: feature
==================================================*/
.home1.feature .item{
  background: var(--white);
  box-shadow: 0 0 48px rgba(0, 0, 0, 0.06);
  padding: 45px;
  position: relative;
  z-index: 1;
}
.home1.feature .item:before{
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gradient);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.home1.feature .item:hover{
  transform: translateY(-6px);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
}
.home1.feature .item:hover:before{
  opacity: 1;
}
.home1.feature .item .icon{
  padding-bottom: 20px;
}
.home1.feature .item .icon i{
  font-size: 60px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home1.feature .item span{
  display: inline-block;
  font-family: var(--josefin);
  font-size: 60px;
  font-weight: 600;
  color: #ddd;
  position: absolute;
  top: 45px;
  right: 40px;
  z-index: 5;
}
.home1.feature .item h5{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
}
.home1.feature .item p{
  padding-top: 10px;
  padding-bottom: 35px;
}
.home1.feature .item a i{
  font-size: 30px;
  color: var(--dark);
}
.home1.feature .item,
.home1.feature .item:before,
.home1.feature .item .icon i,
.home1.feature .item h5,
.home1.feature .item p,
.home1.feature .item a i{
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.home1.feature .item:hover h5,
.home1.feature .item:hover p,
.home1.feature .item:hover a i{
  color: var(--white);
}
.home1.feature .item:hover .icon i{
  background: var(--white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*================================================
6.5: counter
==================================================*/
.home1.counter .item .icon{
  height: 180px;
  width: 180px;
  border: 8px solid var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: auto;
  text-align: center;
}
.home1.counter .item .icon i{
  font-size: 65px;
  color: var(--white);
  line-height: 164px;
}
.home1.counter .item1 .icon{
  background: #f084dc;
}
.home1.counter .item2 .icon{
  background: var(--gradienta);
}
.home1.counter .item3 .icon{
  background: #69ccff;
}
.home1.counter .item4 .icon{
  background: #8b68ef;
}
.home1.counter .item h4{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 15px;
  padding-bottom: 20px;
}
.home1.counter .item h2{
  font-family: var(--heebo);
  font-weight: 300;
  font-size: 70px;
  color: #a6a6a6;
}
/*================================================
6.6: about
==================================================*/
.home1.about .content{
  padding-right: 100px;
}

.home1.about .content h3,
.home1.about .content h6{
  font-family: var(--josefin);
  font-weight: 700;
}
.home1.about .content h3{
  padding-bottom: 35px;
}
.home1.about .content h6{
  text-transform: capitalize;
}
.home1.about .content p{
  width: 80%;
}
.home1.about .content ul li{
  padding-top: 25px;
}
.home1.about .content .icon{
  padding-right: 25px;
}
.home1.about .content .icon i{
  font-size: 40px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*================================================
6.7: portfolio
==================================================*/
.home1.portfolio{
  background: #f9f8ff;
}
.home1.portfolio .project-menu{
  margin-bottom: 60px;
}
.home1.portfolio .project-menu li a{
  display: inline-block;
  font-family: var(--heebo);
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 400;
  color: var(--grey);
  clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
  background: transparent;
  padding: 13px 32px 13px 12px;
}
.home1.portfolio .project-menu .active a{
  background: var(--gradient);
  color: var(--white);
}
.home1.portfolio .item{
  position: relative;
  margin-bottom: 30px;
}
.home1.portfolio .item img{
  width: 100%;
}
.home1.portfolio .item .overlay{
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--gradient);
  text-align: center;
}

.home1.portfolio .item .overlay .text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  z-index: 9;
}
.home1.portfolio .item .overlay a{
  position: absolute;
  bottom: 20px;
  right: 30px;
  z-index: 9;
}
.home1.portfolio .item h6{
  font-weight: 700;
  font-family: var(--josefin);
  color: var(--white);
  text-transform: capitalize;
}
.home1.portfolio .item p{
  font-weight: 500;
  font-family: var(--heebo);
  color: var(--white);
  text-transform: capitalize;
}
.home1.portfolio .item a i{
  font-size: 40px;
  color: var(--white);
}
/*================================================
6.8: team
==================================================*/
.home1.team .item{
  text-align: center;
  box-shadow: 3px 0 63px rgba(0, 0, 0, 0.07);
  padding: 30px;
}
.home1.team .item .image img{
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.home1.team .item h6{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 30px;
}
.home1.team .item h6:hover{
  color: var(--deep-orange);
}
.home1.team .item h6,
.home1.team .item ul li a:after,
.home1.team .item ul li a i{
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.home1.team .item p{
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 15px;
}
.home1.team .item ul li{
  padding: 0 5px;
}
.home1.team .item ul li a{
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #f3f3f3;
  text-align: center;
  position: relative;
  z-index: 1;
}
.home1.team .item ul li a:after{
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gradient);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.home1.team .item ul li a i{
  font-size: 16px;
  line-height: 40px;
  color: var(--deep-orange);
}
.home1.team .item ul li a:hover:after{
  opacity: 1;
}
.home1.team .item ul li a:hover i{
  color: var(--white);
}
/*================================================
6.9: mobile
==================================================*/
.home1.mobile .bg{
  background: var(--gradient);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  position: relative;
}
.home1.mobile .image{
  position: absolute;
  bottom: 0;
  left: 50px;
}
.home1.mobile .content{
  padding: 55px 100px 60px 30px;
}
.home1.mobile .content h3{
  font-family: var(--josefin);
  font-size: 45px;
  color: var(--white);
  font-weight: 700;
  width: 70%;
}
.home1.mobile .content p{
  color: var(--white);
  width: 85%;
  padding-top: 20px;
  padding-bottom: 35px;
}
.home1.mobile .content ul li:not(:last-child){
  padding-right: 30px;
}
/*================================================
6.10: video
==================================================*/
.home1.video{
  margin-top: -220px;
  background-attachment: fixed !important;
}
.home1.video .overlay{
  background: rgba(0, 0, 0, 0.77);
  padding-top: 320px;
  padding-bottom: 120px;
}
.home1.video .content .vid-icon {
  display: inline-block;
  padding: 0;
  height: 55px;
  width: 55px;
  text-align: center;
  background: var(--white);
  border-radius: 50%;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.home1.video .content .vid-icon i{
  line-height: 55px;
  font-size: 20px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home1.video .content .vid-icon i:after {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 20px;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  box-shadow: 0 0 rgba(255, 255, 255, 0.1),0 0 0 15px rgba(255, 255, 255, 0.1),0 0 0 30px rgba(255, 255, 255, 0.1);
  animation: ripple-wave1 1s linear infinite;
  animation-play-state: running;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  -webkit-animation: ripple-wave1 1s linear infinite;
}
.home1.video .content p{
  color: var(--white);
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  padding-top: 55px;
}
@keyframes ripple-wave1{
  to {
      box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1),0 0 0 30px rgba(255, 255, 255, 0.1),0 0 0 45px rgba(255, 255, 255, 0.02);
  }
}
/*================================================
6.11: client
==================================================*/
.home1.client .section-title{
  padding-bottom: 80px;
}
.home1.client .shape{
  height: 280px;
  width: 280px;
  background: #ffeae9;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  top: -20px;
  left: 50px;
}

.home1.client .image{
  height: 240px;
  width: 240px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: auto;
}
.home1.client .image:after{
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 0;
  left: 0;
}
.home1.client .image img{
  width: 100%;
}
.home1.client .item h6{
  font-family: var(--josefin);
  text-transform: capitalize;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 5px;
}
.home1.client .item p{
  width: 77%;
}
.home1.client .item .designation{
  text-transform: capitalize;
}
.home1.client .client-slider{
  padding-bottom: 60px;
}
.home1.client .swiper-pagination{
  text-align: left;
  bottom: 0;
}
.home1.client .swiper-pagination-bullet{
  height: 20px;
  width: 20px;
  background: var(--deep-orange);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.home1.client .swiper-pagination-bullet.swiper-pagination-active{
  opacity: 1;
}

/*=========================================================
    6.12: brand
===========================================================*/
.home1.brand {
  background: var(--gradient);
}

/*=====================================================
6.13: blog
======================================================*/

.home1.blog .single-blog{
  background: var(--white);
  box-shadow: 0 0 92px rgba(102, 68, 68, 0.08);
}
.home1.blog .single-blog .image{
  position: relative;
}
.home1.blog .single-blog .image img{
  width: 100%;
}
.home1.blog .single-blog .image:after{
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom,rgba(251, 108, 98, 0.7),rgba(255, 171, 107, 0.7));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  -o-transform: scale(0.2);
  opacity: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.home1.blog .single-blog:hover .image:after{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  opacity: 1;
}
.home1.blog .single-blog .content{
  padding: 25px 30px 30px 30px;
}
.home1.blog .single-blog .content h6{
  font-family: var(--josefin);
  font-weight: 700;
  padding-bottom: 15px;
}
.home1.blog .single-blog .content ul {
  padding-bottom: 15px;
}
.home1.blog .single-blog .content ul li:not(:last-child){
  padding-right: 20px;
}
.home1.blog .single-blog .content ul li a{
  font-family: var(--heebo);
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--grey);
}

.home1.blog .single-blog .content ul li a i{
  padding-right: 10px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.home1.blog .single-blog .content .read-more{
  display: inline-block;
  font-family: var(--josefin);
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  margin-top: 15px;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.home1.blog .single-blog .content .read-more:after{
  content: '';
  height: 1px;
  width: 100%;
  background: var(--gradient);
  position: absolute;
  bottom: 7px;
  left: 0;
}
.home1.blog .single-blog .content ul li a:hover,
.home1.blog .single-blog .content h6:hover,
.home1.blog .single-blog .content .read-more:hover{
  color: var(--deep-orange);
}
/*=====================================================
6.14: footer
======================================================*/
/*=====================================================
6.14.1: footer-top
======================================================*/
.footer .footer-top .title{
  padding-bottom: 25px;
}
.footer .footer-top .title h5{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
}
.footer .footer-top .desc{
  padding-right: 120px;
}
.footer .footer-top .address{
  padding-top: 20px;
}
.footer .footer-top .address li:not(:last-child){
  padding-bottom: 15px;
}
.footer .footer-top .address li i{
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--dark);
  font-size: 14px;
  color: var(--white);
  text-align: center;
  margin-right: 20px;
  position: relative;
  z-index: 1;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.footer .footer-top .address li i:after{
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--gradient);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.footer .footer-top .address li:hover i{
  background: transparent;
}
.footer .footer-top .address li:hover i:after{
  opacity: 1;
}
.footer .footer-top .navigation li{
  padding-left: 20px;
  position: relative;
}
.footer .footer-top .navigation li:before{
  content: '';
  height: 5px;
  width: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
}
.footer .footer-top .navigation li:hover:before{
  background: var(--gradient);
}
.footer .footer-top .navigation li:not(:last-child),
.footer .footer-top .follow li:not(:last-child){
  margin-bottom: 10px;
}
.footer .footer-top .navigation li a,
.footer .footer-top .follow li a{
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--heebo);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--grey);
}
.footer .footer-top .navigation li a:hover,
.footer .footer-top .follow li a:hover{
  color: var(--deep-orange);
}
.footer .footer-top .inputs{
  width: calc(100% - 60px);
  height: 40px;
  border: 1px solid var(--deep-orange);
  background: transparent;
  padding: 0 10px;
  outline: none;
}
.footer .footer-top .inputs::placeholder{
  font-family: var(--heebo);
  font-weight: 400;
  font-size: 15px;
  color: var(--grey);
  text-transform: capitalize;
}
.footer .footer-top .form-area{
  position: relative;
  margin-top: 20px;
  margin-bottom: 25px;
}
.footer .footer-top .form-area button{
  width: 60px;
  height: 40px;
  background: var(--gradient);
  position: absolute;
  top: 0;
  right: 0;
}
.footer .footer-top .form-area button i{
  font-size: 18px;
  color: var(--white);
}
.footer .footer-top .social li{
  padding-right: 15px;
}
.footer .footer-top .social li a i{
  font-size: 14px;
  color: var(--dark);
}
.footer .footer-top .social li a:hover i{
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*=====================================================
6.14.2: footer-bottom
======================================================*/
.footer .footer-bottom .bg{
  border-top: 1px solid #ebebeb;
  padding: 25px 0;
}
.footer .footer-bottom ul li{
  padding-left: 30px;
}
.footer .footer-bottom ul li:first-child {
  padding-left: 0;
}
.footer .footer-bottom ul li a{
  font-family: var(--heebo);
  color: var(--grey);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 16px;
}
.footer .footer-bottom ul li a:hover{
  color: var(--deep-orange);
}

/*================================================
07: home 2 css
==================================================*/
/*================================================
7.1: banner
==================================================*/
.home2.banner .image-area{
  right: 30px;
  bottom: -150px;
}
.home2.banner .text-area h1 {
  font-size: 52px;
  line-height: 70px;
}
/*================================================
7.2: feature
==================================================*/
.home2.feature .item:before{
  opacity: 1;
  background: var(--white);
}
.home2.feature .item:hover:before{
  background: rgba(6, 23, 56, 0.8);
}
/*================================================
7.3: newsletter
==================================================*/
.home2.newsletter{
  background: var(--gradient);
}
.home2.newsletter .content{
  position: relative;
}
.home2.newsletter .content:before{
  content: '';
  width: 96px;
  height: 108px;
  background: url(../images/home2/mail-img.png) no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: -130px;
}
.home2.newsletter .content h3{
  font-family: var(--josefin);
  font-weight: 700;
  color: var(--white);
}
.home2.newsletter .content p{
  color: var(--white);
}
.home2.newsletter .form-area{
  background: var(--white);
  padding: 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
}

.home2.newsletter .form-area .inputs{
  width: calc(100% - 155px);
  height: 54px;
  padding: 0 15px;
  border: 0;
  outline: none;
}
.home2.newsletter .form-area .inputs::placeholder{
  font-family: var(--heebo);
  text-transform: capitalize;
  color: var(--grey);
  font-size: 16px;
  font-weight: 400;
}
.home2.newsletter .form-area button{
  line-height: 54px;
  padding: 0 35px;
  background: var(--deep-orange);
  width: 155px;
  font-family: var(--heebo);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  z-index: 1;
}
.home2.newsletter .form-area button:before{
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gradient);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.home2.newsletter .form-area button:hover:before{
  opacity: 1;
}
/*================================================
7.4: screenshot
==================================================*/
.home2.screenshot .ss-slider-area{
  position: relative;
}
.home2.screenshot .ss-slider-area:after{
  content: url('../images/home2/screenshot/mockup.png');
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 9;
}
.home2.screenshot .item{
  text-align: center;
}
.home2.screenshot .item img{
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.1);
}

/*================================================
7.5: video
==================================================*/
.home2.video{
  margin-top: 0;
}
.home2.video .overlay{
  padding-top: 120px;
  padding-bottom: 320px;
}
/*================================================
7.6: mobile
==================================================*/
.home2.mobile{
  margin-top: -250px;
}
/*================================================
7.7: pricing
==================================================*/
.home2.pricing .item{
  padding: 30px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.home2.pricing .item.active{
  box-shadow: 1px 0 61px rgba(0, 0, 0, 0.2);
}
.home2.pricing .item .price-title span{
  display: inline-block;
  line-height: 32px;
  padding: 0 25px;
  background: var(--gradient);
  color: var(--white);
  text-transform: uppercase;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  font-family: var(--heebo);
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 26px;
}
.home2.pricing .item .price-title h5{
  font-family: var(--josefin);
  font-weight: 700;
  color: var(--deep-orange);
  text-transform: capitalize;
  padding-bottom: 5px;
}
.home2.pricing .item .price-title h4{
  font-family: var(--josefin);
  font-weight: 700;
  font-size: 26px;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.home2.pricing .item ul li{
  font-family: var(--heebo);
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--grey);
  padding-bottom: 25px;
}
.home2.pricing .item ul li i{
  font-size: 20px;
  padding-right: 16px;
  color: rgba(255, 88, 51, 0.6);
}
.home2.pricing .item ul li i.not{
  color: var(--deep-orange);
}
.home2.pricing .item .purchase{
  box-shadow: 1px 0 61px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 25px 0 30px;
}
.home2.pricing .item.active .purchase{
  box-shadow: none;
  background: var(--gradient);
}
.home2.pricing .item .purchase h3{
  font-size: 38px;
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.home2.pricing .item .purchase h3 span{
  font-family: var(--heebo);
  font-size: 20px;
  color: var(--grey);
}
.home2.pricing .item.active .purchase h3,
.home2.pricing .item.active .purchase h3 span{
  color: var(--white);
}
.home2.pricing .item .purchase a{
  display: inline-block;
  font-family: var(--heebo);
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 48px;
  padding: 0 25px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  color: var(--white);
  background: var(--dark);
}
.home2.pricing .item.active .purchase a{
  background: var(--white);
  color: var(--dark);
}

/*================================================
08: inner-page css
==================================================*/
/*================================================
8.1: menubar
==================================================*/
.inner-page.menubar .right-part button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--gradient);
  margin-left: 20px;
  position: relative;
  z-index: 1;
}
.inner-page.menubar .right-part button:after{
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--gradienta);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  opacity: 0;
}
.inner-page.menubar .right-part button:hover:after{
  opacity: 1;
}
.inner-page.menubar.sticky .right-part button{
  background: var(--white);
}
.inner-page.menubar.sticky .right-part button:after{
  opacity: 0;
}
.inner-page.menubar.sticky .right-part button i{
  color: var(--deep-orange);
}
/*================================================
8.2: banner
==================================================*/
.inner-page.banner .overlay{
  padding-top: 215px;
  padding-bottom: 125px;
  background: rgba(0, 0, 0, 0.6);
}
.inner-page.banner h2{
  font-family: var(--josefin);
  font-size: 45px;
  font-weight: 700;
  color: var(--white);
  text-transform: capitalize;
  padding-bottom: 10px;
}
.inner-page.banner .breadcrumb{
  justify-content: center;
}
.inner-page.banner .breadcrumb-item a,
.inner-page.banner .breadcrumb-item{
  font-family: var(--josefin);
  text-transform: capitalize;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.inner-page.banner .breadcrumb-item a:hover{
  color: var(--deep-orange);
}
.inner-page.banner .breadcrumb-item.active{
  color: var(--white);
}
.inner-page.banner .breadcrumb-item + .breadcrumb-item::before {
  color: var(--white);
}
/*================================================
09: service page
==================================================*/
.service-page.feature .item{
  margin-bottom: 30px;
}
/*================================================
10: team page
==================================================*/
.team-page.team .item{
  margin-bottom: 30px;
}
/*================================================
11: blog page
==================================================*/
.blog-page.blog .single-blog{
  margin-bottom: 30px;
}
/*===========================================================
 12: blog details page CSS
=============================================================*/

.blog-page.blog-detail .blog-img {
  position: relative;
}
.blog-page.blog-detail .blog-img img {
  width: 100%;
}
.blog-page.blog-detail .blog-img .option {
  height: 55px;
  width: 55px;
  background: var(--deep-orange);
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
  text-align: center;
}
.blog-page.blog-detail .blog-img .option p {
  font-family: var(--josefin);
  text-transform: capitalize;
  color: var(--white);
  line-height: 20px;
  padding-top: 8px;
}


.blog-page.blog-detail .content p {
  padding-top: 20px;
  font-family: var(--josefin);
}
.blog-page.blog-detail .content .new {
  font-size: 18px;
}
.blog-page.blog-detail .content h5 {
  font-family: var(--josefin);
  font-weight: 700;
  padding-top: 25px;
  text-transform: capitalize;
}

.blog-page.blog-detail .content blockquote {
  background: var(--white);
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
  padding: 30px 35px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}
.blog-page.blog-detail .content blockquote p {
  padding-top: 0;
  font-size: 18px;
  color: var(--dark);
  position: relative;
  z-index: 1;
}
.blog-page.blog-detail .content blockquote i {
  font-size: 90px;
  color: #fed7d5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 0;
}
.blog-page.blog-detail .share-blog {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 30px;
  margin-top: 35px;
}
.blog-page.blog-detail .share-blog span {
  display: inline-block;
  font-family: var(--josefin);
  font-size: 18px;
  color: var(--deep-orange);
  text-transform: capitalize;
  font-weight: 600;
}
.blog-page.blog-detail .share-blog .social li {
  padding: 0 7px;
}
.blog-page.blog-detail .share-blog .social li a i {
  color: var(--dark);
  font-size: 18px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.blog-page.blog-detail .share-blog .social li a:hover i {
  color: var(--deep-orange);
}
.blog-page.blog-detail .share-blog p {
  text-transform: capitalize;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.blog-page.blog-detail .share-blog .right-part i {
  color: var(--deep-orange);
}
.blog-page.blog-detail .share-blog .right-part a p {
  padding-top: 0;
}
.blog-page.blog-detail .share-blog .right-part a i {
  padding-right: 10px;
}
.blog-page.blog-detail .share-blog .right-part a:hover p{
  color: var(--deep-orange);
}
.blog-page.blog-detail .comment {
  padding-top: 30px;
}
.blog-page.blog-detail .comment .title h5 {
  text-transform: capitalize;
  padding-bottom: 16px;
  position: relative;
}
.blog-page.blog-detail .comment .title h5:after {
  content: "";
  height: 2px;
  width: 90px;
  background: var(--deep-orange);
  position: absolute;
  bottom: 0;
  left: 0;
}
.blog-page.blog-detail .comment .leave h5 {
  padding-top: 10px;
}
.blog-page.blog-detail .comment .all-comment li {
  position: relative;
  margin: 50px 0;
}
.blog-page.blog-detail .comment .all-comment li ul {
  margin-left: 70px;
}
.blog-page.blog-detail .comment .all-comment li ul li {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 50px 0;
}
.blog-page.blog-detail .comment .all-comment li ul li img {
  margin-top: 50px;
}
.blog-page.blog-detail .comment .all-comment li ul li .reply {
  top: 50px;
}
.blog-page.blog-detail .comment .all-comment li h4, 
.blog-page.blog-detail .comment .all-comment li p {
  padding-top: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.blog-page.blog-detail .comment .all-comment li img {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.blog-page.blog-detail .comment .all-comment li .comment-body {
  padding-left: 155px;
}
.blog-page.blog-detail .comment .all-comment li h6 {
  font-family: var(--josefin);
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.blog-page.blog-detail .comment .all-comment li h6:hover {
  color: var(--deep-orange);
}
.blog-page.blog-detail .comment .all-comment li .time {
  padding-bottom: 5px;
}
.blog-page.blog-detail .comment .all-comment li .time:hover {
  color: var(--deep-orange);
}
.blog-page.blog-detail .comment .all-comment li .reply {
  position: absolute;
  top: 0;
  right: 0;
}
.blog-page.blog-detail .comment .all-comment li .reply i {
  margin-right: 10px;
  color: var(--deep-orange);
}
.blog-page.blog-detail .comment .all-comment li .reply p {
  text-transform: capitalize;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.blog-page.blog-detail .comment .all-comment li .reply:hover p {
  color: var(--deep-orange);
}
.blog-page.blog-detail .comment form {
  margin-top: 50px;
  margin-bottom: 0;
}
.blog-page.blog-detail .comment .input-field {
  width: 100%;
  height: 50px;
  background: #f4f4f4;
  padding: 0 20px;
  outline: none;
  border: 0;
  margin-bottom: 30px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  font-family: var(--josefin);
  color: var(--dark);
}
.blog-page.blog-detail .comment .input-field:hover,
.blog-page.blog-detail .comment .input-field:focus{
  background: rgba(251, 108, 98, 0.1);
}
.blog-page.blog-detail .comment .input-field::placeholder {
  text-transform: capitalize;
  font-family: var(--josefin);
  font-size: 16px;
  color: var(--grey);
  font-weight: 500;
}
.blog-page.blog-detail .comment textarea.input-field {
  height: 215px;
  padding: 20px;
}
.blog-page.blog-detail .comment button {
  line-height: 55px;
  padding: 0 35px;
  font-family: var(--josefin);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 18px;
  color: var(--white);
  background: var(--deep-orange);
  position: relative;
  z-index: 1;
}
.blog-page.blog-detail .comment button:after{
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gradient);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  opacity: 0;
}
.blog-page.blog-detail .comment button:hover:after{
  opacity: 1;
}
/* blog sidebar */
.blog-page.blog-detail .blog-sidebar .section{
  padding-bottom: 40px;
}
.blog-page.blog-detail .blog-sidebar .inputs{
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ddd;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  outline: none;
  font-family: var(--josefin);
  color: var(--dark);
}
.blog-page.blog-detail .blog-sidebar .inputs:hover,
.blog-page.blog-detail .blog-sidebar .inputs:focus{
  border-color: var(--deep-orange);
}
.blog-page.blog-detail .blog-sidebar .inputs::placeholder{
  text-transform: capitalize;
  font-family: var(--josefin);
  font-size: 16px;
  color: var(--grey);
  font-weight: 500;
}
.blog-page.blog-detail .blog-sidebar .search-area{
  position: relative;
}
.blog-page.blog-detail .blog-sidebar .search-area button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 10px;
  z-index: 9;
}
.blog-page.blog-detail .blog-sidebar .search-area button i{
  font-size: 16px;
  color: var(--deep-orange);
}
.blog-page.blog-detail .blog-sidebar .title{
  padding-bottom: 25px;
}
.blog-page.blog-detail .blog-sidebar .title h5{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
}
.blog-page.blog-detail .blog-sidebar .category ul li{
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.blog-page.blog-detail .blog-sidebar .category ul li:first-child{
  padding-top: 0;
}
.blog-page.blog-detail .blog-sidebar .category ul li:last-child{
  padding-bottom: 0;
  border-bottom: 0;
}
.blog-page.blog-detail .blog-sidebar .category ul li p{
  font-family: var(--josefin);
  text-transform: capitalize;
}
.blog-page.blog-detail .blog-sidebar .category ul li:hover p{
  color: var(--deep-orange);
}
.blog-page.blog-detail .blog-sidebar .popular ul li .image{
  margin-right: 15px;
}
.blog-page.blog-detail .blog-sidebar .popular ul li .image img{
  width: 100%;
}
.blog-page.blog-detail .blog-sidebar .popular ul li .item-body{
  flex: 1;
}
.blog-page.blog-detail .blog-sidebar .popular ul li:not(:last-child){
  padding-bottom: 30px;
}
.blog-page.blog-detail .blog-sidebar .popular ul li h6{
  font-family: var(--josefin);
  font-size: 18px;
  font-weight: 700;
}

.blog-page.blog-detail .blog-sidebar .popular ul li h6:hover{
  color: var(--deep-orange);
}
.blog-page.blog-detail .blog-sidebar .popular ul li p{
  font-family: var(--josefin);
  text-transform: capitalize;
}
.blog-page.blog-detail .blog-sidebar .popular ul li i{
  padding-right: 10px;
}
.blog-page.blog-detail .blog-sidebar .tags{
  padding-bottom: 20px;
}
.blog-page.blog-detail .blog-sidebar .all-tag a{
  display: inline-block;
  font-size: 16px;
  line-height: 35px;
  padding: 0 10px;
  font-family: var(--josefin);
  color: var(--grey);
  text-transform: capitalize;
  border: 1px solid #ddd;
  margin-right: 15px;
  margin-bottom: 20px;
}
.blog-page.blog-detail .blog-sidebar .all-tag a:hover{
  color: var(--white);
  background: var(--deep-orange);
  border-color: var(--deep-orange);
}
.blog-page.blog-detail .blog-sidebar .form-area .inputs{
  padding: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
}
/*================================================
13: service-detail page
==================================================*/
.service-page.detail{
  padding-bottom: 90px;
}
.service-page.detail .image img{
  width: 100%;
}
.service-page.detail .text{
  padding-right: 50px;
}
.service-page.detail .text h5{
  font-family: var(--josefin);
  font-weight: 700;
  padding: 20px 0;
}
.service-page.detail .text p{
  padding-bottom: 20px;
  color: var(--grey);
}
.service-page.detail .text .img{
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}
.service-page.detail .right-part .title{
  padding-bottom: 30px;
}
.service-page.detail .right-part .title h5{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}
.service-page.detail .right-part .title h5:after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 60px;
  background: var(--gradient);
}
.service-page.detail .right-part .item{
  margin-bottom: 30px;
}

.service-page.detail .right-part .item ul li{
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}
.service-page.detail .right-part .item ul li p{
  color: var(--grey);
  text-transform: capitalize;
}
.service-page.detail .right-part .hours{
  padding: 15px;
  border: 6px solid #ddd;
}
.service-page.detail .right-part .item a{
  margin-top: 20px;
  display: inline-block;
  line-height: 50px;
  padding: 0 25px;
  background: var(--gradient);
  font-size: 16px;
  font-weight: 700;
  font-family: var(--josefin);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  text-transform: capitalize;
  color: var(--white);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  position: relative;
  z-index: 1;
}

.service-page.detail .right-part .item a i{
  padding-left: 10px;
}
.service-page.detail .right-part .item a:after{
  content: '';
  height: 100%;
  width: 100%;
  background: var(--gradienta);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.service-page.detail .right-part .item a:hover:after{
  opacity: 1;
}
.service-page.detail .right-part .item .img img{
  width: 100%;
}
/*================================================
14: project detail page
==================================================*/
.project-page.project-detail .image img{
  width: 100%;
}

.project-page.project-detail .sub-title{
  padding-bottom: 20px;
}
.project-page.project-detail .sub-title h5{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
}
.project-page.project-detail .info li{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.project-page.project-detail .info li:last-child{
  border-bottom: 0;
}
.project-page.project-detail .info li h6{
  font-family: var(--josefin);
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  width: 50%;
}
.project-page.project-detail .info li p{
  width: 50%;
  text-transform: capitalize;
}
.project-page.project-detail .info li ul li{
  border: 0;
  padding: 0;
  padding-right: 15px;
}
.project-page.project-detail .info li ul li a i{
  font-size: 16px;
  color: var(--dark);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.project-page.project-detail .info li ul li a:hover i{
  color: var(--deep-orange);
}
.project-page.project-detail .list-part{
  padding-top: 10px;
}
.project-page.project-detail .title{
  padding-top: 20px;
  padding-bottom: 15px;
}
.project-page.project-detail .title h4{
  text-transform: capitalize;
  font-weight: 700;
  font-family: var(--josefin);
}
.project-page.project-detail .desc-list{
  padding-top: 20px;
}
.project-page.project-detail .desc-list li{
  position: relative;
  padding: 5px 0 5px 30px;
}
.project-page.project-detail .desc-list li:before{
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--gradient);
}
/*================================================
15: team detail page
==================================================*/
.team-page.team-detail .personal-info{
  box-shadow: 19px 0 109px rgba(0, 0, 0, 0.08);
}
.team-page.team-detail .personal-info .image img{
  width: 100%;
}
.team-page.team-detail .personal-info .name{
  padding: 25px 30px 30px 30px;
}
.team-page.team-detail .personal-info .name h5{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
}
.team-page.team-detail .personal-info .name p{
  text-transform: capitalize;
  padding-top: 5px;
}
.team-page.team-detail .personal-info .name ul{
  padding-top: 20px;
}
.team-page.team-detail .personal-info .name ul li{
  padding-right: 20px;
}
.team-page.team-detail .personal-info .name ul li a i{
  font-size: 16px;
  color: var(--grey);
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
}
.team-page.team-detail .personal-info .name ul li a:hover i{
  color: var(--deep-orange);
}
.team-page.team-detail .box{
  padding-top: 30px;
}
.team-page.team-detail .box:first-child{
  padding-top: 0;
}
.team-page.team-detail .title{
  padding-bottom: 40px;
}
.team-page.team-detail .title h5{
  font-family: var(--josefin);
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}
.team-page.team-detail .title h5:after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  width: 65px;
  background: var(--gradient);
}
.team-page.team-detail .table tr th,
.team-page.team-detail .table tr td{
  font-family: var(--heebo);
  font-weight: 400;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
  padding: 5px 0;
}
.team-page.team-detail .table tr th{
  font-weight: 500;
}
.team-page.team-detail .table1 tr td{
  text-transform: uppercase;
}
.team-page.team-detail .table tr .day{
  width: 150px;
}
.team-page.team-detail .table tr .time{
  min-width: 200px;
}
.team-page.team-detail .table tr .yar{
  min-width: 150px;
}
.team-page.team-detail .table tr .dept{
  min-width: 170px;
}
.team-page.team-detail .table tr .pos,
.team-page.team-detail .table tr .com{
  min-width: 200px;
}
/*================================================
16: contact page
==================================================*/
.contact-page.contact .content h6{
  font-family: var(--josefin);
  font-weight: 600;
  text-transform: capitalize;
}
.contact-page.contact .content h2{
  font-family: var(--josefin);
  font-size: 41px;
  font-weight: 600;
  width: 70%;
  padding-top: 15px;
  padding-bottom: 35px;
}
.contact-page.contact .content h3{
  font-family: var(--josefin);
  font-weight: 600;
  padding-bottom: 55px;
}
.contact-page.contact .content .inputs{
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #ddd;
  outline: none;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  margin-bottom: 35px;
  font-family: var(--josefin);
  color: var(--dark);
}
.contact-page.contact .content .inputs:hover,
.contact-page.contact .content .inputs:focus{
  border-color: var(--deep-orange);
}
.contact-page.contact .content .inputs::placeholder{
  font-family: var(--heebo);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  text-transform: capitalize;
}
.contact-page.contact .content button{
  font-family: var(--josefin);
  font-size: 20px;
  font-weight: 600;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  line-height: 48px;
  padding: 0 30px;
  text-transform: capitalize;
  color: var(--white);
  background: var(--gradient);
  position: relative;
  z-index: 1;
  margin-top: 5px;
}
.contact-page.contact .content button:after{
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  background: var(--gradienta);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  opacity: 0;
}
.contact-page.contact .content button:hover:after{
  opacity: 1;
}
.contact-page.contact ul li {
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.contact-page.contact ul li p{
  font-weight: 500;
}
.contact-page.contact ul li:first-child {
  padding-top: 0;
}
.contact-page.contact ul li:last-child {
  padding-bottom: 0;
  border: 0;
}
.contact-page.contact ul li .icon {
  padding-right: 25px;
}
.contact-page.contact ul li .icon i {
  font-size: 30px;
  color: var(--dark);
}
.contact-page.contact ul li h5{
  font-family: var(--josefin);
  font-weight: 600;
  text-transform: capitalize;
}

.contact-page.location #map {
  width: 100%;
  height: 560px;
}